---
import BlogLayout from "../layouts/BlogLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const descricao = "aqui estou usando variáveis para renderizar no html"
---
<BlogLayout>
  <h1>Meu Site Astro</h1>
    <h1>Meu Blog de Aprendizado sobre Astro</h1>
    <p>Aqui é onde postarei sobre minha jornada aprendendo Astro.</p>
    <p style="color: blue;">{descricao}</p>
    <ul>
      {allPosts.map((post)=><BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BlogLayout>


