---
const platform = "github";
const username = "davidtav";
import Social from "./Social.astro";
---

<footer>
  <p>Abaixo minhas redes Sociais </p>
  <Social platform="linkedin" username="in/david-mclaurel"/>
  <Social platform="github" username="davidtav"/>
</footer>